<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

        <p> templates/index.html</p>

        {{form.start_point.errors}}
        {{form.plot_function.errors}}
        {{form.step.errors}}
        {{form.interval.errors}}

        <form  action="/plot_params/" method="post">
            {% csrf_token %}
            {{form.start_point.label_tag}}
            {{form.start_point}}
            {{form.plot_function.label_tag}}
            {{form.plot_function}}
            {{form.step.label_tag}}
            {{form.step}}
            {{form.interval.label_tag}}
            {{form.interval}}
            <input type="submit" value="submit">
        </form>
        <div>
        {% for plot in plots %}
            {{plot.start_point}}<br>
            {{plot.interval}}<br>
            {{plot.step}}<br>
            {{plot.plot_function}}<br>
            {{plot.date_upload}}<br>
            {{plot.date_update}}<br>
            <img src="http://127.0.0.1:8000/media{{ plot.plot_image }}"><br>
        {%endfor%}
        </div>
    </body>
</html>